In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



# Function to calculate rolling volatility
def calculate_volatility(returns_series, window_size):
    # Calculate the rolling standard deviation of returns
    return returns_series.rolling(window=window_size).std()



# Function to calculate mean volatility for each group of 5 rows
def calculate_mean_volatility(df):
    df['Group'] = df.index // 5
    group_means = df.groupby('Group')['volatility_ratio'].mean()
    df['mean_Volatility'] = np.nan

    for group in df['Group'].unique():
        last_row_index = df[df['Group'] == group].index[-1]
        df.at[last_row_index, 'mean_Volatility'] = group_means[group]
    
    return df

# Function to update the DataFrame with new entry
def update_dataframe(df, new_date, new_nifty_price):
    # Ensure the date column is sorted
    df.sort_values('date', inplace=True)
    
    # Calculate the daily return for the new price
    last_price = df.iloc[-1]['nifty50']
    daily_return = (new_nifty_price - last_price) / last_price
    
    # Append the new data to the DataFrame
    new_data = {
        'date': pd.to_datetime(new_date, format='%d-%m-%Y'),  # parsing the date string into a datetime object
        'nifty50': new_nifty_price,
        'daily_return': daily_return,
        'volatility_21_days': None,  # to be calculated
        'volatility_252_days': None,  # to be calculated
        'volatility_ratio': None  # to be calculated
    }
    df = df.append(new_data, ignore_index=True)
    
    # Calculate the rolling 21-day and 250-day volatilities
    df['volatility_21_days'] = calculate_volatility(df['daily_return'], 21)
    df['volatility_252_days'] = calculate_volatility(df['daily_return'], 252)
    
    # Calculate the ratio of the 21-day volatility to the 250-day volatility
    df['volatility_ratio'] = df['volatility_21_days'] / df['volatility_252_days']
    
    return df


new_date = input("Enter date here (DD-MM-YYYY) : ")
new_nifty_price = float(input("Enter nifty_50 value : " )) 

# Load your CSV file into a DataFrame
df = pd.read_csv("nifty_50_volatility.csv",parse_dates=['date'], dayfirst=True)

# Update DataFrame with new data
updated_df = update_dataframe(df, new_date, new_nifty_price)

# Calculate mean volatility for each group of 5 rows
updated_df = calculate_mean_volatility(updated_df)


updated_df.to_csv('nifty_50_volatility.csv', index=False)


updated_df_2022 = updated_df[updated_df['date'].dt.year >= 2022]


plt.figure(figsize=(10, 6))
plt.plot(updated_df_2022['date'], updated_df_2022['mean_Volatility'],marker = "o",linestyle='' )
plt.axhline(y=1.5, color='r', linestyle='--')
plt.title('Mean Volatility Over Of NIFTY 50 - Time(2022 - 2023)')
plt.xlabel('Date')
plt.ylabel('Mean Volatility')
plt.xticks(rotation=45)  


plt.show()

KeyboardInterrupt: Interrupted by user

In [2]:
df

NameError: name 'df' is not defined

In [3]:
df = pd.read_csv("nifty_50_volatility.csv",parse_dates=['date'], dayfirst=True)

In [4]:
df

,date,nifty50,daily_return,volatility_21_days,volatility_252_days,volatility_ratio,Group,mean_Volatility
0,2009-01-01,3033.45,NaN,NaN,NaN,NaN,0,NaN
1,2009-01-02,3046.75,0.004384,NaN,NaN,NaN,0,NaN
2,2009-01-05,3121.45,0.024518,NaN,NaN,NaN,0,NaN
3,2009-01-06,3112.80,-0.002771,NaN,NaN,NaN,0,NaN
4,2009-01-07,2920.40,-0.061809,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...
3698,2023-12-08,20969.40,0.003265,0.005562,0.006244,0.890816,739,NaN
3699,2023-12-11,20997.10,0.001321,0.005573,0.006230,0.894534,739,0.897590
3700,2023-12-12,20906.40,-0.004320,0.005688,0.006238,0.911924,740,NaN
3701,2023-12-13,20926.35,0.000954,0.005700,0.006234,0.914466,740,NaN
3702,2023-12-14,21182.70,0.012250,0.005968,0.006270,0.951841,740,0.926077